:root {
    --primary-color: #3ECF4C;
    --secondary-color: #FFBD3A;
    --tertiary-color: #F64920;
    --primary-dark-text-color: #222325;
    --secondary-dark-text-color: #333333AD;
    --disabled-dark-text-color: #3A354161;
    --primary-light-text-color: #FFFFFF;
    --secondary-light-text-color: #C1C2C4;
    --disabled-light-text-color: #9D9EA1;
    --primary-background-color: #FFFFFF;
    --base-background-color: #F4F5FA;
    --secondary-background-color: #F9FAFC;
    --border-color: #3A35411F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.loginHeader {
    background-color: var(--primary-background-color);
    height: fit-content;
    border-bottom: 1px solid var(--border-color);
    padding: 12px 120px;
}

.loginMain {
    flex-grow: 1;
    background-color: #FFF7D7CC;
    padding: 64px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    width: 590px;
    background-color: var(--primary-background-color);
    border: 1px solid #F1F1F1;
    border-radius: 4px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.loginDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loginTitle {
    font-family: "Lato";
    font-weight: 600;
    font-size: 32px;
    line-height: 110.00000000000001%;
    color: var(--primary-dark-text-color);
}

.loginSubTitle {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: var(--secondary-dark-text-color);
}